---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import {
  getTotalBlogViews,
  getTotalCommits,
  getTotalIssues,
  getTotalPrs,
} from "../lib/dev";
import { getGithubUser, getTotalStars } from "../lib/github";

const title = "nexxel • stats";
const { followers, public_repos } = await getGithubUser("nexxeln");
const stars = await getTotalStars("nexxeln");
const views = await getTotalBlogViews();
const prs = await getTotalPrs("nexxeln");
const issues = await getTotalIssues("nexxeln");
const commits = await getTotalCommits("nexxeln");

const cards = [
  {
    name: "GitHub Stars",
    value: stars,
  },
  {
    name: "GitHub Followers",
    value: followers,
  },
  {
    name: "GitHub Repos",
    value: public_repos,
  },
  {
    name: "Blog Views",
    value: views,
  },
  {
    name: "GitHub PRs",
    value: prs,
  },
  {
    name: "GitHub Issues",
    value: issues,
  },
  {
    name: "GitHub Commits",
    value: commits,
  },
];
---

<Layout title={title}>
  <main class="flex flex-col h-screen items-center">
    <h1 class="font-extrabold text-(2xl center) md:text-4xl pt-6">
      {title}
    </h1>

    <div class="pb-10"></div>

    <section
      class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3"
    >
      {cards.map(({ name, value }) => <Card name={name} value={value} />)}
    </section>
  </main>
</Layout>
